.itemTodo {
    display: grid;
    grid-template: 1fr / 1fr minmax(5%, auto);
    padding: 14px;
    width: 250px;
    margin: 0 auto;
    text-align: left;
    margin-top: 15px;
    background: #689CD2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.itemText {
    display: inline-block;
    cursor: pointer;
}

.strike {
    display: inline-block;
    cursor: pointer;
    text-decoration: line-through;
}

.editTask {
    width: 68%;
    height: 38;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
