.wrapper {
  display: grid;
  grid-template: minmax(60px, auto) 1fr minmax(50px, aut) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  display: grid;
  grid-area: header;
}

.main {
  display: grid;
  grid-area: main;
  grid-template: 1fr / minmax(200px, auto) 1fr;
  min-height: 100%;
}

.footer {
  display: grid;
  grid-area: footer;
}

.info {
    margin-left: auto;
    margin-right: auto;
}
